.library{
    background-color: #121212;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 8px;
    color: #b3b3b3;
    font-size: 14px;
    margin-top: 10px;
    min-height: 70vh;
}

.library .library_content{
    display: flex;
    justify-content: space-between;
}

.library .library_button{
    margin-right: 10px;
    color: #b3b3b3;
    background-color: transparent;
    border: 0px;
    font-size: 14px;
    font-weight: 700;
    
    text-align: center;
    padding: 20px 10px;
}

.library .library_content .fa{
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library_content .fa-plus{
    margin: 24px 10px;
}
.fa-book{
    margin-right: 5px;
}