.home-page .home-page_content{
    display: flex;
    background: transparent;
    flex-direction: column;
    padding-top: 8px;
    margin: 8px;
    background-color: #121212;
    border-radius: 8px;
    position: fixed;
    top: 9%;
}


.header-playlist{
    margin-bottom: 8px;
    display: flex;
}

.header-playlist-title{
    flex-grow: 1;
    display: block;
    line-height: normal;
    font-weight: 700;
    font-size: 1.5rem;
    box-sizing: border-box;
    color: #fff;
}

.header-playlist-title h2 a{
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-playlist a{
    background: transparent;
    color: #b3b3b3;
    margin-left: 8px;
    text-decoration: none;
    white-space: nowrap;
    
}

.header-playlist a span{
    font-weight: 700;
    font-size: 0.875rem;
}


.offter_scroll-container{
    max-height: 73vh;
    margin: 24px;
    overflow-y: auto;
}

.offter_scroll-container::-webkit-scrollbar {
    width: 12px;            
}

.offter_scroll-container::-webkit-scrollbar-track {
    background: transparent;      
}

.offter_scroll-container::-webkit-scrollbar-button{
    display: none;
}

.offter_scroll-container::-webkit-scrollbar-thumb{
    width: 1px;
    border-radius: 3px;
    border: 6px;
    background: gray;
}

.playlists{
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    max-width: 100%;
    margin-bottom: 16px;
    flex-direction: column;
    position: relative;
}

.cards{
    display: grid;
    gap: 16px;
    justify-content: center;
    margin-bottom: 16px;
    grid-template-columns: repeat(5, minmax(0,1fr));
    /* min-width: 372px; */
    /* grid-auto-rows: 0; */
    /* grid-template-rows: 1fr; */
}

.cards .card-content{
    background: #181818;
    border-radius: 8px;
    transition: background-color .3s ease;
    position: relative;
    overflow: hidden;
    width: 220px;
}


.cards .card_content img{
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}