@media screen and (max-width: 2560px){
    .cards{
        grid-template-columns: repeat(6, minmax(0,1fr));
    }
    .header_navigation{
        left: 16.5vw;
    }
}

@media screen and (max-width: 1440px){
    .cards{
        grid-template-columns: repeat(6, minmax(0,1fr));
    }
    .header_navigation{
        left: 22vw;
    }   
    .home-page .home-page_content {
        top: 10% !important;
    }

    .library{
        min-height: 69vh !important;
    }
}

@media screen and (max-width: 1024px){
    .cards{
        grid-template-columns: repeat(3, minmax(0,1fr));
    }
    .header_navigation{
        left: 31vw;
    }
    .home-page .home-page_content {
        top: 10% !important;
    }
    .offter_scroll-container{
        min-height: 69vh;
    }

    .library{
        min-height: 67vh !important;
    }
}

@media screen and (max-width: 768px){
    .cards{
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
    .arrow-right{
        display: none;
    }
    .header_navigation{
        left: 42vw;
    }
    .home-page .home-page_content {
        top: 10%;
    }
    .offter_scroll-container{
        max-height: 69vh;
    }
}

@media screen and (max-width: 425px){
    .cards{
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
    .arrow-right{
        display: none;
    }
    .header_navigation{
        left: 56vw;
        right: -43vw;
    }

    .sidebar{
        width: 227px;
    }
    .home-page .home-page_content{
        left: 40%;
        top: 7% !important;
    }

    .offter_scroll-container {
        max-height: 96vh;
    }

    .languages .languages_button{
        width: 127px;
    }

    .header_search{
        display: none;
    }

}

@media screen and (max-width: 320px){
    .home-page .home-page_content{
        left: 36%;
        top: 7% !important;
    }
    .cards{
        grid-template-columns: repeat(1, minmax(0,1fr));
    }
    
    .offter_scroll-container {
        max-height: 96vh;
    }

    .arrow-right{
        display: none;
    }

    .header-playlist-title{
        font-size: 0.9rem;
    }
    .header_search{
        display: none;
    }

    .header_navigation{
        left: 50vw;
        right: -43vw;
    }
    .sidebar{
        width: 150px;
    }

    .languages .languages_button{
        width: 127px;
    }
}