.buttons_links{
    display: flex;
    flex-wrap: wrap;
    padding: 4px 0px;
}

.buttons-links_content{
    margin-right: 16px;
    margin-bottom: 8px;
}

.buttons-links_content a {
    text-decoration: none;
}

.buttons-links_content a span{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 0.6585rem;
    font-weight: 400;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    color: #b3b3b3;
}

span svg{
    width: 25px; 
    padding-left: 4px;
}

path:nth-child(1){
    fill-rule: evenodd; 
    clip-rule: evenodd; 
    fill: rgb(255, 255, 255);
}

path:nth-child(2){
    fill-rule: evenodd; 
    clip-rule: evenodd; 
    fill: rgb(0, 102, 255);
}

path:nth-child(3){
    fill: rgb(255, 255, 255);
}

path:nth-child(4){
    fill: rgb(0, 102, 255);
}
