.offter_scroll-container{
    max-height: 73vh;
    margin: 24px;
    overflow-y: auto;
}

.offter_scroll-container::-webkit-scrollbar {
    width: 12px;            
}

.offter_scroll-container::-webkit-scrollbar-track {
    background: transparent;      
}

.offter_scroll-container::-webkit-scrollbar-button{
    display: none;
}

.offter_scroll-container::-webkit-scrollbar-thumb{
    width: 1px;
    border-radius: 3px;
    border: 6px;
    background: gray;
}

.playlists{
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
    max-width: 100%;
    margin-bottom: 16px;
    flex-direction: column;
    position: relative;
}