.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container{
  max-width: 80vw;
  height: 100vh;
  margin-left: 320px;
  margin-right: 56px;
}

body{
  background-color: #000;
  font-family: var(--font-dm-sans);
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px;
  width: 300px;
}

.sidebar .cookies{
  margin: 25px 20px;
}

.sidebar .cookies a{
  color: #b3b3b3;
  font-weight: 500;
  font-size: 10px;
  text-decoration: none;
}

.sidebar .cookies a:hover{
  text-decoration: underline;
}

.languages .languages_button{
  align-items: center;
  color: #fff;
  background-color: transparent;
  border: 1px solid #878787;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin: 8px;
  padding: 8px;
  width: 170px;
}


@media screen and (max-width: 2560px){
  .cards{
      grid-template-columns: repeat(6, minmax(0,1fr));
  }
  .header_navigation{
      left: 17vw;
  }
}

@media screen and (max-width: 1440px){
  .cards{
      grid-template-columns: repeat(6, minmax(0,1fr));
  }
  .header_navigation{
      left: 22vw;
  }   
  .home-page .home-page_content {
      top: 10%;
  }
}

@media screen and (max-width: 1024px){
  .cards{
      grid-template-columns: repeat(3, minmax(0,1fr));
  }
  .header_navigation{
      left: 31vw;
  }
  .home-page .home-page_content {
      top: 10%;
  }
  .offter_scroll-container{
      max-height: 69vh;
  }
}

@media screen and (max-width: 768px){
  .cards{
      grid-template-columns: repeat(2, minmax(0,1fr));
  }
  .arrow-right{
      display: none;
  }
  .header_navigation{
      left: 42vw;
  }
  .home-page .home-page_content {
      top: 10%;
  }
  .offter_scroll-container{
      max-height: 69vh;
  }
}

@media screen and (max-width: 425px){
  .cards{
      grid-template-columns: repeat(2, minmax(0,1fr));
  }
  .arrow-right{
      display: none;
  }
  .header_navigation{
      left: 50vw;
      right: -43vw;
  }

  .sidebar{
      width: 200px;
  }
  .home-page .home-page_content{
      left: 36%;
      top: 7%;
  }

  .offter_scroll-container {
      max-height: 96vh;
  }

  .languages .languages_button{
      width: 127px;
  }

  .header_search{
      display: none;
  }

}

@media screen and (max-width: 320px){
  .cards{
      grid-template-columns: repeat(1, minmax(0,1fr));
  }

  .offter_scroll-container {
      max-height: 96vh;
  }

  .arrow-right{
      display: none;
  }

  .header-playlist-title{
      font-size: 0.9rem;
  }
  .header_search{
      display: none;
  }

  .header_navigation{
      left: 50vw;
      right: -43vw;
  }
  .sidebar{
      width: 150px;
  }
  .home-page .home-page_content{
      left: 36%;
      top: 7%;
  }

  .languages .languages_button{
      width: 127px;
  }
}